<!-- About us ontent here -->

    <div class="container-fluid my-3">
      <div class="row mx-1 px-2 AboutUsContainer">
        <h1>What is movieHUB</h1>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod
          tempor incidunt ut labore et pain magna aliqua. Ut enim ad minim
          veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut
          aliquid ex ea commodi consequatur. Duis aute irure reprehenderit in
          voluptate velit esse cillum pain eu fugiat nulla pariatur. Excepteur
          sint obcaecat cupiditat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </h5>
      </div>
    </div>

    <div class="container-fluid my-3">
      <div class="row mx-1 px-2 AboutUsContainer">
        <h1>Why we started movieHUB</h1>
        <h5>
          Temporibus autem quibusdam et aut officiis debitis aut rerum
          necessitatibus saepe eveniet, ut et voluptates repudiandae sint et
          molestiae non recusandae. Itaque earum rerum.
        </h5>
      </div>
    </div>

    <div class="container-fluid my-3">
      <div class="row mx-1 px-2 AboutUsContainer">
        <h1>What awaits movieHUB</h1>
        <h5>
          Et harum quidem rerum facilis est et expedita distinctio. Nam libero
          tempore, cum soluta nobis est eligendi optio, cumque nihil impedit,
          quo minus id, quod maxime placeat, facere possimus.
        </h5>
      </div>
    </div>

    <div class="card-deck mb-3" style="margin: 0">
      <div class="card">
        <img src="../images/sarunas.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Sarunas - CEO</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem
            tempor.
          </p>
        </div>
        <div class="card-footer">
          <small style="font-style: italic">"Live, laugh, love"</small>
        </div>
      </div>
      <div class="card">
        <img src="../images/simas.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Simon - CTO</h5>
          <p class="card-text">
            Vestibulum id metus ac nisl bibendum nibh scelerisque non purus in
            suspendisse.
          </p>
        </div>
        <div class="card-footer">
          <small style="font-style: italic">"You only live once"</small>
        </div>
      </div>
    </div>