body {
    background-color: rgb(190, 195, 205); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(235, 224, 224);
    margin: 0;
    font-family: AmazonEmberRegular;
    letter-spacing: 1px;
  }

  .title{
    border-bottom: 5px solid;
  }
  
  .card {
    background-color: rgba(0, 0, 0);
    /* border: 4px rgb(235, 224, 224) solid; */
  }

  
  .list-group-item {
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px rgb(235, 224, 224) solid;
  }
  
  
  @font-face {
    font-family: "AmazonEmberRegular";
    src: URL("../fonts/Ember/AmazonEmber_Rg.ttf") format("truetype");
  }

  .comment{
    background-color: #0c0b00;
  }
 
  .black{
  color: #0c0b00;
}

.gallery{
  background-color: #0c0b00;
}


.main-img img{
 width: 80%;
 height: 400px;
 object-fit: contain;
 /* background-color: #0c0b00; */
}

.imgs img{
  object-fit: contain;
  width: 100%;
  height: 80px;
  /* background-color: #0c0b00; */
  /* height: 100%; */
}

.imgs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.imgs img{
  cursor: pointer;
}
  

.fade-in {
  opacity: 0;
  animation: fadeIn linear forwards 1s;
}

@keyframes fadeIn { 
  0% { opacity:0; } 
  /* 50% { opacity:1; }   */
  100% { opacity:1; }  
 }

 .embed-responsive{
   /* height: 500px; */
 }

 /* .commentForm{
  background-color: #0c0b00;
 } */

.nickname{
  width: 20%;
  display: inline;
}

.opinion{
  /* height: 100px; */
  align-items:flex-end;
}

#starRating{
  font-size: 20px;
  color: #ffc107;
}

.star-rated {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-rated > span {
  display: inline-block;
  position: relative;
  width: 0.7em;
  cursor: pointer;
}

.star-rated > span:hover:before,
.star-rated > span:hover ~ span:before,
.star-rated > span.upstar-rated:before,
.star-rated > span.upstar-rated ~ span:before {
  content: "★";
  position: absolute;
}


.fa {  
  font-size: 20px;  
  cursor: pointer;  
  user-select: none;  
}  
.fa:hover {  
  color:#ffc107;  
} 


.tabcontent {
  animation: fadeEffect 1s; 
  overflow-y: scroll;
  height: 460px;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabcontent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.tabcontent::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.tabcontent::-webkit-scrollbar {
  width: 10px;
}
